*{
    box-sizing: border-box;
}
body {
    text-align: center;
}
.container {
    width: 70%;
    /* float: left; */
    height: 50px;
    margin: 0 auto;
    padding: 0px;
}
#easy {
    width: 33.3%;
    float: left;
    margin: 0;
    height: 35px;

}
#hard {
    width: 33.3%;
    float: right;
    margin: 0;
    height: 35px;

}
#score-box {
    height: 50px;
    float: left;
    width: 33.3%;
    text-align: center; 
    padding: 5px;
    margin : 0;
}
#easyBtn {
    color: tomato;
}
h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 50px;
}
h3 {
    font-family: 'Shrikhand', cursive;
    font-size: 35px;
}
h3:hover {
    cursor: pointer;
    color: tomato;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    /* background-color: #fefefe; */
    margin: 35% auto; /* 15% from the top and centered */
    padding: 0;
    /* border: 1px solid #888; */
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#winner {
    font-size: 6em;
    color: tomato;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}